.theme-bg{background-color: #FF4800 !important;}
.text-bg{color:#FF4800;}

.nav-padding .nav-link{
    padding:25px 15px !important;
    color: black;
    transition: 0.2s ease-out;
    font-weight: bolder;
}
.nav-padding .nav-link:hover{
    background-color: #FF4800;
    color:white;
}

.dropdown:hover .dropdown-menu{
    display:block;
}
.banner-section{
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../img/header.jpg");
}

.bg-opacity-banner{opacity: 95%;}
.banner-content{
    margin-top: 50px;
}
.text-justify{
    text-align: justify !important;
}

.grow{
    height:60px;
    width:60px;
    border-radius: 50px;
}



.bg-section{background-color: #f2f2f4;}




element.style {
}
.p-4 {
    padding: 1.5rem !important;
}
.position-relative {
    position: relative !important;
}
.bg-secondary {
    background-color: #F2F2F4 !important;
}
*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.owl-carousel, .owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;